# Add any directories, files, or patterns you don't want to be tracked by version control
/save_exp/*
/Lcod/save_exp/*
~/tmp/*
/data_handlers/*.pkl
/data_handlers/recon_sparse/*.pkl
/weights/*
/factorisation/*
/save_exp_cifar/*
/MNIST_data/*
/csv/*
